# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# IntelliJ / PyCharm
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
# SUMO installer
tools/sumo-1.27.0/
tools/*.zip
tools/*.msi

tempCodeRunnerFile.py